root = true

[*]
insert_final_newline = true

[porcupine/default_filetypes.toml]
max_line_length = 80

[*.{py,tcl}]
indent_style = space
indent_size = 4
max_line_length = 100  # keep in sync with pyproject.toml

[*.c]
indent_style = tab
