[flake8]
# E402 is "module level import not at top of file", flake8 doesn't allow
# metadata like __author__ before the imports in __init__.py
#
# E265 is "block comment should start with '# '", this is disabled to
# allow commenting out lines with no space after #
ignore = E402,E265
