pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
black==22.6.0
isort==5.10.1
sphinx>=4.0.0, <5.0.0
pyflakes==2.2.0
pillow>=5.4.1
requests>=2.24.0, <3.0.0

# type checking, exact versions to avoid "works on my computer" problems
mypy==0.971
types-Pygments==2.12.1
types-docutils==0.19.0
types-Send2Trash==1.8.2
types-setuptools==63.2.1
types-ttkthemes==3.2.4
types-colorama==0.4.15
types-appdirs==1.4.3
types-toposort==1.7.4
types-psutil==5.9.2
