appdirs>=1.4.4
# pygments version fixed because haxx in highlight plugin
Pygments==2.7.4
toposort>=1.5
colorama>=0.2.5
git+https://github.com/Akuli/sansio-lsp-client@62205e44162cf734ce345c17322f64f82ceb17d7
python-language-server[rope,pyflakes,pycodestyle]>=0.36.2,<1.0.0
black>=21.5b2
# typing.Literal is new in python 3.8
typing_extensions
dacite>=1.5.1,<2.0.0
toml
ttkthemes>=3.0.0
