appdirs>=1.4.4
# pygments version fixed because haxx in highlight plugin
Pygments==2.7.4
toposort>=1.5
colorama>=0.2.5
sansio-lsp-client>=0.10.0,<0.11.0
python-language-server[rope,pyflakes,pycodestyle]>=0.36.2,<1.0.0
black>=21.5b2
# typing.Literal is new in python 3.8
typing_extensions
dacite>=1.5.1,<2.0.0
toml
ttkthemes>=3.0.0
send2trash>=1.8.0,<2.0.0
