on:
  push:
    branches:
      - main
      - bugfix-release
  pull_request:

jobs:
  mypy:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Mypy running on platform A can check for platform B, so it all runs on linux.
        # Multiple parallel jobs are needed only to make this faster.
        mypy-platform: ["linux", "win32", "darwin"]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
        cache: pip
    - run: pip install wheel
    - run: pip install -r requirements-dev.txt
    - run: |
        time mypy --platform ${{ matrix.mypy-platform }} --python-version 3.10 porcupine
        time mypy --platform ${{ matrix.mypy-platform }} --python-version 3.11 porcupine
        time mypy --platform ${{ matrix.mypy-platform }} --python-version 3.12 porcupine
        time mypy --platform ${{ matrix.mypy-platform }} --python-version 3.13 porcupine
        time mypy --platform ${{ matrix.mypy-platform }} --python-version 3.14 porcupine

  pytest-windows:
    timeout-minutes: 10
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    - run: pip install wheel
    - run: pip install -r requirements-dev.txt
    - name: Download tkdnd
      run: |
        python scripts/download-tkdnd.py
        echo "TCLLIBPATH=lib" >> $env:GITHUB_ENV
    - run: python -m pytest --durations=10

  pytest-linux:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    - run: pip install wheel
    - run: pip install -r requirements-dev.txt
    # Make sure that it doesn't crash with Noto Color Emoji installed
    - run: sudo apt install --no-install-recommends fonts-noto-color-emoji tkdnd xvfb
    - run: xvfb-run python -m pytest --durations=10

  # Separate from other pytests because tkinter doesn't work on macos with actions/setup-python.
  # It imports, but gives this error:    RuntimeError: tk.h version (8.6) doesn't match libtk.a version (8.5)
  pytest-macos:
    timeout-minutes: 15
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    env:
      # TODO: how to install tkdnd on mac? add instructions to README or make mac app that bundles it
      TCLLIBPATH: ./lib
    steps:
    - uses: actions/checkout@v6
    - run: brew install python@${{ matrix.python-version }}
    - run: brew install python-tk@${{ matrix.python-version }}
    - run: /opt/homebrew/bin/python${{ matrix.python-version }} --version
    - run: /opt/homebrew/bin/python${{ matrix.python-version }} -m venv env
    - run: source env/bin/activate && python --version
    - run: source env/bin/activate && pip install -r requirements-dev.txt
    - run: source env/bin/activate && python scripts/download-tkdnd.py
    - run: source env/bin/activate && python -m pytest --durations=10

  flake8-tkinter:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
        cache: pip
    # TODO: adding these to requirements-dev.txt breaks pip install
    - run: pip install flake8=='7.*' flake8_tkinter==0.6.0
    - run: python3 -m flake8 --select=TK $(git ls-files | grep -E '\.(py|pyw)$')

  markdown-links:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
        cache: pip
    - run: pip install requests
    - run: python3 scripts/check-markdown-links.py

  pyupgrade:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
        cache: pip
    - run: pip install -r requirements-dev.txt
    - run: |
        python3 scripts/pyupgrade-all-files.py || (
          echo -e "\x1b[31mError: You need to run scripts/pyupgrade-all-files.py locally and commit the result.\x1b[0m"
          exit 1
        )

  black:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - run: pip install $(grep ^black requirements-dev.txt)
    - name: Check formatting of porcupine files
      run: |
        black --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'black porcupine' locally and commit the result.\x1b[0m"
          exit 1
        )
    - name: Check formatting of tests
      run: |
        black --check tests || (
          echo -e "\x1b[31mError: You need to run 'black tests' locally and commit the result.\x1b[0m"
          exit 1
        )
    - name: Check formatting of scripts
      run: |
        black --check scripts || (
          echo -e "\x1b[31mError: You need to run 'black scripts' locally and commit the result.\x1b[0m"
          exit 1
        )

  isort:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - run: pip install $(grep ^isort requirements-dev.txt)
    - name: Check imports in porcupine files
      run: |
        isort --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'isort porcupine' locally and commit the result.\x1b[0m"
          exit 1
        )
    - name: Check imports in tests
      run: |
        isort --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'isort tests' locally and commit the result.\x1b[0m"
          exit 1
        )
    - name: Check imports in scripts
      run: |
        isort --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'isort scripts' locally and commit the result.\x1b[0m"
          exit 1
        )

  pycln:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - run: pip install $(grep ^pycln requirements-dev.txt)
    - name: Check porcupine files
      run: |
        pycln --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'pycln porcupine' locally and commit the result.\x1b[0m"
          exit 1
        )
    - name: Check tests
      run: |
        pycln --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'pycln tests' locally and commit the result.\x1b[0m"
          exit 1
        )
    - name: Check scripts
      run: |
        pycln --check porcupine || (
          echo -e "\x1b[31mError: You need to run 'pycln scripts' locally and commit the result.\x1b[0m"
          exit 1
        )

  # The requirements-dev.txt file is auto-generated. This job makes sure that
  # it stays up to date.
  requirements-dev:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - run: python3 scripts/generate-requirements-dev.py
    - run: |
        git diff --exit-code || (
          echo -e "\x1b[31mError: You need to run scripts/generate-requirements-dev.py locally and commit the result.\x1b[0m"
          exit 1
        )
